<% flash.each do |type, message| %>
  <% alert_class = case type.to_sym
    when :notice then 'alert-success'
    when :alert  then 'alert-danger'
    when :error  then 'alert-danger'
    when :warning then 'alert-warning'
    else 'alert-info'
  end %>

  <div class="alert <%= alert_class %> flash-message" role="alert">
    <%= message %>
  </div>
<% end %>
