<div class="footer">
  <div class="footer-links">
    <a href="https://www.lewagon.com/"><i class="fa-solid fa-train-subway"></i></a>
    <a href="https://github.com/anallbani"><i class="fa-solid fa-wine-glass"></i></a>
    <a href="https://github.com/dan5083"><i class="fa-solid fa-dumbbell"></i></i></a>
    <a href="https://github.com/diogomacedorocha"><i class="fa-solid fa-person-walking-luggage"></i></a>
    <a href="https://github.com/yThomas-gitH"><i class="fa-solid fa-plane-slash"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Hestia Team
  </div>
</div>